
// grunt overrides @theme for each theme to make custom css code
@theme: "default";

@import "imports/mixin";
//import default theme
@import (once) "imports/default/theme";
//then override defaults with theme specific variables
@import (optional, once) "imports/@{theme}/theme";

// basic variables
@index: 999999999;
// sizing
@odp-width: 600px;
@odp-mobile-break-width: 754px;
@odp-height: 90%;
// media queries 
@smartphones: ~"only screen and (max-width : @{odp-mobile-break-width})";
//@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";

.odp-set-width {
	width: 100%;
	max-width: @odp-width;
	@media @smartphones {
		width: 100% !important;
		max-width: @odp-mobile-break-width !important;
	}
}

// mixins specifically for odp
.radial-gradient-with-image (@img, @color-from, @color-to, @edge) {
	background: #FFF; /* Old Browsers */
	background-image: @img, -moz-radial-gradient(center, ellipse cover, @color-from 0%, @color-to @edge); /* FF3.6+ */
 	background-image: @img, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, @color-from), color-stop(@edge, @color-to)); /* Chrome, Safari4+ */
	background-image: @img, -webkit-radial-gradient(center, ellipse cover, @color-from 0%,  @color-to @edge); /* Chrome10+,Safari5.1+ */ 
	background-image: @img, -o-radial-gradient(center, ellipse cover, @color-from 0%,  @color-to @edge); /* Opera 11.10+ */
	background-image: @img, -ms-radial-gradient(center, ellipse cover, @color-from 0%,  @color-to @edge);/* IE 10+ */
	background-image: @img, radial-gradient(ellipse at center, @color-from 0%,  @color-to @edge); /* W3C */
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	.background-size(2em, 3em 3em);
}

// font 

.odp-mono {
	.mono-regular-font !important;
}



/*button displays*/

div#our-disappearing-present {
	.mono-regular-font;
	display: none;
	overflow: hidden;
	cursor: pointer !important;
}

div#our-disappearing-present.active {
	display: block;
	@media only screen and (max-width: 47.125em) {
		height:2.5em;
		line-height: 2.5em;
		padding-left: 1.5em;
		margin-bottom: 0;
		border:none;
		border-bottom: solid thin @primary-tone;
	}
	height:2em;
	line-height: 2em;
	padding-left: 0.875em;
	margin-bottom: 0.9375em;
	border: solid thin @primary-tone;
	background-color: @primary-tone;
	color: @base-tone;
	.transition(~"background-size 0.5s,background-color 0.5s");
	&.round {
		font-size: 1em;
		position: fixed;
		z-index: @index - 1;
		width: 4em;
		height: 4em;
		padding: 0;
		margin: 0;
		border: none;
		
		.radial-gradient-with-image(url(/images/logo/logo.svg),@button-gradient,@button-gradient-edge,70%);

		&:hover {
			background-color: transparent;
			.background-size(2em, 4em 4em);
		}
	}
	&.small { font-size: 0.5em };
	&.normal { font-size: 1em };
	&.large { font-size: 2em };
	&.top { top:2em;}
	&.bottom { bottom:2em;}
	&.right { right:2em; }
	&.left { left:2em;}

	&:hover {
		background-color: @base-tone;
		color: @primary-tone;
	}

}

/*popup*/

div#odp-popup {

	@media only screen and (min-width: 340px)  { .default-font(13px); }
	@media only screen and (min-width: 768px)  { .default-font(15px); }
	@media only screen and (min-width: 1024px) { .default-font(17px); }

	.display-flex;
	.flex-direction(column);
	position: fixed;
	top:1em;
	bottom:1em;
	z-index: @index;
	.odp-set-width;
	height: @odp-height;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: @base-tone;
	border: 1px solid @border-color;

	@media @smartphones {
		height:100%;
		top:0px !important;
		left: 0px !important;
		border-left-width: 0px;
		border-right-width: 0px;
		background-image: #f0f;
	}

	a, p, span {
		padding: 0;
		margin: 0;
		line-height: 1em;

	}
	& > div {
		.odp-set-width;
	}

	a {
		.mono-regular-font(1em);
		color:@secondary-font-colour;
		background-color: inherit;
		&:active, &:visited { color:@secondary-font-colour;}
		&:hover { color: @primary-font-colour; background-color: inherit;}
	}

	p {
		.default-font(1em);
		color:@primary-font-colour;
		margin: 0.5em 1em ;
		line-height: 1.2em ;
	}

	h1 {
		.mono-bold-font(1em);
		color:@primary-font-colour;
		line-height: 2em;
		padding: 0;
	}

	h2, h3, h4, h5 {
		.mono-bold-font;
		color:@secondary-font-colour;
		line-height: 1.5em;
		padding: 0;
	}

}

div#odp-head {
	height: 2.5em;
	overflow: hidden;
	background-color: @primary-tone;
	color: @base-tone;
	cursor: move;
	@media @smartphones {
		cursor: pointer;
	}

	span.odp-title {
		float: left;
		width: 90%;
		padding: 0 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 2.5em;
		.default-font(1.125em);
	}

	span.odp-icon-close {
		display: block !important;
		width: 100% !important;
		height: 100% !important;
		background-image: url(/images/cross-white.svg);
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		.background-size(0.7em);
	}

	& > div.odp-close {
		position: absolute;
		padding: 0 !important;
		margin: 0 !important;
		border: none !important;
		background-color: transparent !important;
		right: 0.5em !important;
		top: 0em !important;
		width: 2.5em !important;
		height: 2.5em !important;
		outline: none !important;
		overflow: visible;
		cursor: pointer;
	}

}

div#odp-tabs {
	display: table;
	background: @primary-tone;
	border:none;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	width: 100%;

	& > span {
		display: table-cell;
		width: 33.333%;
		.box-sizing();
		border: 0px;
		border-bottom: 1px @primary-tone solid;
		border-top-right-radius: 0.5em;
		border-top-left-radius: 0.5em;
		background: @primary-tone;
		color: @base-tone;
		.default-font(1em);
		line-height: 1.5em;
		text-align: center;

		&.active, &.active:hover {
			border-color:@base-tone;
			border-top-color: @primary-tone;
			border-left-width: 0px;
			border-right-width: 0px;
			background: @base-tone;
			color: @primary-tone;
			cursor: default;
		}
		&:hover {
			border-color: @base-tone;
			border-bottom: dotted @primary-tone 1px;
			background: @tertiary-tone;
			color: @primary-tone;
			cursor:pointer;
		}
		&:first-child {	border-top-left-radius: 0em; }
		&:last-child { border-top-right-radius: 0em; }
	}
}

div#odp-body {
	.flex();
	overflow: scroll;
	overflow-x: hidden;
	overflow-y:scroll;
	background: @base-tone;

	&.loading {
		background: @base-tone;
		background-image: url(/images/loading.gif);
		background-repeat: no-repeat;
		background-position: center;
		.background-size(200px);
	}
}

div#odp-getting-more {
	display: block;
	background-image: url(/images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	.background-size(contain);
	.transition(hieght 0.5s);
	&.active {
		height: 6em;
	}
}

ul#odp-msgs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: @base-tone;
	color: @primary-font-colour;
	li {
		padding: 1em 1em;
		&.odp-odd { background: @tertiary-tone; }
	}
}

/* Message */

.odp-msg {
	.odp-msg-date, .odp-msg-host {
		.mono-regular-font !important;
		color:@secondary-font-colour;
	}
}

.odp-msg-content {
	display: block;
	padding: 0.5em 0;
	clear: both;
	p:first-child, p:last-child {
		margin: 0em 1em !important;
	}
}

.odp-msg-head {
	.mono-bold-font;
	white-space: nowrap;
	word-break: break-all;
	line-height: 1em;
	overflow: visible;
	padding: 0;
	clear: both;
	a { text-decoration: underline; }
}

.odp-msg-title {
	display: block;
	float: left;
	max-width: 90%;

	a {
		.mono-regular-font(1em) !important;
	}

	& > div {
		overflow: hidden;
		word-wrap: break-word;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: break-all;
	}
	&:hover > div { white-space: normal; }
}

.odp-msg-host, .odp-msg-date {
	font-size: 0.675em;
	padding: 0;
}

.odp-expires { float: right; }

.odp-msg-extra {
	float: right;
	width: 1.14em;
	height: 1.14em;
	.box-sizing();
	.background-size (1.14em);
	background-image: url(/images/down-arrow-black.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: visible;

	.odp-msg-options {

		display: none;
		background-color: inherit;

		& > div {
			text-align: right;
			margin: 0.5em 0.5em;
		}
	}
	&.active .odp-msg-options {
		display: block;
		float: right;
		position: relative;
		z-index: @index;
		right: 0px;
		top:1em;
		width: auto;
		clear: both;
	}
}

.odp-msg-extra.active {
	background-color: @tertiary-tone;
}
.odp-odd .odp-msg-extra.active {
	background-color: @base-tone;
}

/* NEW MSG section */

#odp-notify-bottom {
	position: absolute;
	.mono-bold-font;
	text-align: center;
	.transform(~"translateY(-100%)");
	padding: 1em 1em;
	background: fade(@base-tone,50%);
	cursor: pointer;
	.transition(background-color 0.5s);
	&:hover {
		background: @base-tone;
	}
}

/* Info section */

#odp-info {
	padding: 1em 1em;
	p {
		margin: 0;
	}
}


/* Footer */

div#odp-foot {
	background: @tertiary-tone;
}

div#odp-focus {
	.odp-set-width;
	font-size: 1em;
	min-height: 1em;
	padding: 0.5em 0;
	background: @primary-tone;
	color:@base-tone;
}

div#odp-focus > div {
	.mono-regular-font;
	padding: 0.1em 1em;
	white-space: nowrap;
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}

form#odp-form {
	padding: 0;
	margin: 1em;

	& > div {
		margin: 0.5em 0;
		padding: 0;
		display: inline-block;
	}

	button {
		float: right;
		.mono-regular-font(1em);
		border:1px @primary-tone solid;
		border-top: none;
		box-sizing: border-box;
		background: @primary-tone;
		color:@base-tone;
		padding: 0.5em 1em;
		margin: 0;
		cursor: pointer;
		outline: none;
		.appearance();

		&:hover {
			background: @base-tone;
			color:@primary-tone;
		}
	}
}

textarea#odp-m, input#odp-n {
	.default-font;
	outline: none;
	max-width: initial;
	.appearance;
	border-radius: 0;
}

textarea#odp-m {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.5em !important;
	box-sizing: border-box;
	border: 1px solid @primary-tone !important;
	overflow: auto;
	resize: none;
}

input#odp-n {
	display: inline;
	.mono-bold-font;
	color: @primary-font-colour;
	border: none;
	border-bottom: 1px @secondary-font-colour solid;
	padding-left: 1em;
	background: none;
	overflow: visible;
}

// Notifications

#odp-notifications {
	display: inline-block;
	position: fixed;
	z-index: @index - 1;
	background: transparent;
	top:0;
	right:0;
	width: auto;
	height: auto;
	overflow: visible;
}

.odp-notify {
	.mono-regular-font(0.675em);
	display: block;
	background-color: fade(@base-tone,50%);
	color: fade(@primary-tone,50%);
	border: solid 1px @border-color;
	border-radius: 0px;
	.transition(~"background-color 0.5s, color 0.5s");
	max-width:20em;
	padding: 0.5em;
	margin:0.5em;
	cursor: pointer;
	@media @smartphones {
		max-width: 100%;
		margin: 0;
		background-color: fade(@base-tone,90%);
	}
	.odp-name {
		.mono-bold-font(0.675em);
	}
	p, span {
		.mono-regular-font(0.675em);
		line-height: 1em;
		margin: 0;
		padding: 0;
	}
}

.odp-notify:hover {
	background-color: @base-tone;
	color: @primary-tone;
}
