.default-font(@size: 1em) {  // set in em and overriden as media-query px on base div
	font-family: "OfficinaSansITCStd-Book", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: @size;
}

.mono-regular-font(@size:(0.675em)) {
	font-family: 'TheSans Mono Regular', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: @size;
}

.mono-bold-font(@size:(0.875em)) {
	font-family: 'TheSans Mono Bold', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: @size;
}
